#nav-bar
  %ul.nav-list
    %li= link_to_unless_current "Blog", root_path
    %li= link_to_unless_current "Portfolio", portfolio_path
    %li.active= link_to_unless_current "Resume", resume_path
    %li= link_to_unless_current "Contact", '/contact'
    %li= link_to_unless_current "About", '/about'