= semantic_form_for @post, :html => { :class => 'x-ujs', :id => 'post_form' } do |post_form|
  = post_form.inputs :name => "post" do
    = post_form.input :title
    = post_form.input :body
  = post_form.buttons do
    = post_form.submit "Create"
