- title "Post"

%p
  %strong Title:
  =h @post.title
%p
  %strong Body:
  = @post.body

=   disqus_thread

%p
  = link_to "Edit", edit_post_path(@post)
  |
  = link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", posts_path
