%div[resume]
  .name= resume.name
  .job_title= resume.job_title
  
  
  .section skills
  .skills= resume.skills

  .section relevant recent experience
  = render resume.work_experiences

  .section education
  = render resume.education_items